<!DOCTYPE html>
<html>

<head>
	{% block head %}
	<title>dash</title>
	<link rel="icon" href="../static/images/flippy.png">
    <link href="../static/css/foundation.css" rel="stylesheet">
    {% endblock %}
</head>

<body>
{% block content %}
{% endblock %}
</body>

<script src="../static/js/chart.min.js"></script>
<script src="../static/js/jquery-1.11.1.js"></script>
<script src="../static/js/display.js"></script>
<script src="../static/js/chart-defaults.js"></script>
{% block end %}
{% endblock %}
</html>
