{% extends "base.html" %}

{% block content %}

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">my dashboard</a></h1>
    </li>
  </ul>
</nav>

<br>

<div class="row">
  <div class="small-4 column">
  	<canvas id="myChart" width="250" height="250"></canvas>
  </div>
  <div class="small-4 column">
  	<p>chart two.</p>
  </div>
  <div class="small-4 column">
  	<p>chart three.</p>
  </div>
</div>

{% endblock %}

{% block end %}

<script type="text/javascript">
  var messages = {{ messages|safe }}
  console.log(messages);
  displayGraph(messages);
</script>

{% endblock %}