<!DOCTYPE html>
<html>
<head>
    <script>
    </script>
    <link href="../static/css/foundation.css" rel="stylesheet">
    <title>dash</title>
</head>
<body>
<p>Rendering graphs</p>
<canvas id="myChart" width="400" height="400"></canvas>
</body>
<script src="../static/js/chart.min.js"></script>
<script src="../static/js/jquery-1.11.1.js"></script>
<script src="../static/js/display.js"></script>
<script src="../static/js/chart-defaults.js"></script>
<script type="text/javascript">
    var messages = {{ messages|safe }}
    console.log(messages);
    displayGraph(messages);
</script>
</html>
